# Flask
backend/.idea/
backend/.vscode/
__pycache__/
backend/.venv
backend/dist/
backend/.coverage*
backend/htmlcov/
backend/.tox/
backend/docs/_build/


# dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.react-router/
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
